<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://springframework.org/schema/mvc"
	   xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						   http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
						   http://www.springframework.org/schema/context 
						   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
				
	<context:component-scan base-package="de.bbcdaas"/>
				
	<bean id="propertyPlaceholderConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:properties/project.properties</value>
				<value>classpath:properties/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource_taghandler" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.taghandlerDB.mySQL.driverClassName}"/>
        <property name="url" value="${jdbc.taghandlerDB.mySQL.url}"/>
		<property name="username" value="${jdbc.taghandlerDB.mySQL.username}"/>
		<property name="password" value="${jdbc.taghandlerDB.mySQL.password}"/>
		<property name="initialSize" value="${jdbc.taghandlerDB.mySQL.initialSize}" />
		<property name="maxActive" value="${jdbc.taghandlerDB.mySQL.maxActive}" />
	</bean>
	
	<bean id="dataSource_taghandler_termlexicon" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.taghandler_termlexicon.mySQL.driverClassName}"/>
        <property name="url" value="${jdbc.taghandler_termlexicon.mySQL.url}"/>
		<property name="username" value="${jdbc.taghandler_termlexicon.mySQL.username}"/>
		<property name="password" value="${jdbc.taghandler_termlexicon.mySQL.password}"/>
		<property name="initialSize" value="${jdbc.taghandler_termlexicon.mySQL.initialSize}" />
		<property name="maxActive" value="${jdbc.taghandler_termlexicon.mySQL.maxActive}" />
	</bean>
	
	<bean id="jdbcAPI_taghandler"
		  class="de.bbcdaas.common.dao.api.JdbcAPI">
		  <property name="dataSource" ref="dataSource_taghandler"/>
		  <property name="transactionsSupported" value="${jdbc.transactionsSupported}"/>
		  <property name="useSavepoints" value="${jdbc.useSavepoints}"/>
		  <property name="singleConnection" value="${jdbc.singleConnection}"/>
	</bean>
	
	<bean id="jdbcAPI_taghandler_termlexicon"
		  class="de.bbcdaas.common.dao.api.JdbcAPI">
		  <property name="dataSource" ref="dataSource_taghandler_termlexicon"/>
		  <property name="transactionsSupported" value="${jdbc.transactionsSupported}"/>
		  <property name="useSavepoints" value="${jdbc.useSavepoints}"/>
		  <property name="singleConnection" value="${jdbc.singleConnection}"/>
	</bean>
	
	<bean id="taghandlerDao"
		  class="de.bbcdaas.taghandler.dao.impl.sql.TagHandlerDaoImpl">
		<property name="jdbcAPI" ref="jdbcAPI_taghandler"/>
	</bean>
	
	<bean id="taghandler_termlexiconDao"
		  class="de.bbcdaas.taghandler.dao.impl.sql.TermLexiconDaoImpl">
		<property name="jdbcAPI" ref="jdbcAPI_taghandler_termlexicon"/>
	</bean>
	
	<!--********************* relation computing ****************************-->
    
	<bean id="syntagmaticRelationCompute" 
		  class="de.bbcdaas.taghandler.compute.relation.syntagmatic.SimpleSyntagmaticRelationCompute">
		<property name="taghandlerDao" ref="taghandlerDao" />
        <property name="rankListEntryScorer" ref="rankListEntryScorer" />
		<property name="termLexiconDao" ref="taghandler_termlexiconDao" />
	</bean> 
    
    <!--******************** /relation computing ****************************-->
	
	<!--******************** rank list entry scorer *************************-->

	<bean id="rankListEntryScorer"
		  class="de.bbcdaas.taghandler.compute.score.SimpleRankListEntryScorer">
	</bean> 
	
    <!--******************* /rank list entry scorer *************************-->
							  
</beans>