@charset "utf-8";

.header {
	background-color: lightblue;
	height: 50px;
}

#header_title {
	font-size: 18px;
	font-weight: bold;
}

#header_languageSelection {
	float: right;
	margin-right: 10px;
}

.content {
	height: 750px;
}

.content_menu {
	background-color: white;
	width: 150px;
	float: left;
	height: 100%;
	overflow: hidden;
	border-right-color: lightblue;
	border-right-width: 1px;
	border-right-style: solid;
}

.content_main {
	background-color: white;
	margin: auto;
	height: 740px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}

.footer {
	border-top-color: lightblue;
	border-top-width: 1px;
	border-top-style: solid;
	background-color: white;
	height: 60px;
}

#footer_left {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

#footer_right {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}